<a href="https://colab.research.google.com/github/AndreasOA/NumOpt_Proj1/blob/main/NumOpt_Proj1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import time

# Numerical Optimization - Group project phase 2

## Problems

In [ ]:
def get_random_A_b_minimizer(seed):
    np.random.seed(seed)
    A=np.random.randint(0, 2, (11, 11))
    A=A@A.T

    np.random.seed(seed)
    minimizer=np.random.randint(0, 10, (11, 1))

    b=A@minimizer
    
    return A, b, minimizer

### #1

In [ ]:
A_1, b_1, minimizer_1 = get_random_A_b_minimizer(0)

def problem_1(x):
    return (x.T@A_1@x)/2-b_1.T@x

def grad_problem_1(x):
    return A_1@x-b_1

def hessian_problem_1(x):
    return A_1

### #2

In [ ]:
A_2, b_2, minimizer_2 = get_random_A_b_minimizer(2)

def problem_2(x):
    return (x.T@A_2@x)/2-b_2.T@x

def grad_problem_2(x):
    return A_2@x-b_2

def hessian_problem_2(x):
    return A_2

### #3

In [ ]:
A_3, b_3, minimizer_3 = get_random_A_b_minimizer(3)

def problem_3(x):
    return (x.T@A_3@x)/2-b_3.T@x

def grad_problem_3(x):
    return A_3@x-b_3

def hessian_problem_3(x):
    return A_3

### #4

In [ ]:
A_4, b_4, minimizer_4 = get_random_A_b_minimizer(4)

def problem_4(x):
    return (x.T@A_4@x)/2-b_4.T@x

def grad_problem_4(x):
    return A_4@x-b_4

def hessian_problem_4(x):
    return A_4

### #5

In [ ]:
A_5, b_5, minimizer_5 = get_random_A_b_minimizer(6)

def problem_5(x):
    return (x.T@A_5@x)/2-b_5.T@x

def grad_problem_5(x):
    return A_5@x-b_5

def hessian_problem_5(x):
    return A_5

### #6

In [ ]:
abc_6 = np.array([1, 20, 300])

def problem_6(x):
    return -(x*(3*x**3+(-4*abc_6[2]-4*abc_6[1]-4*abc_6[0])*x**2+((6*abc_6[1]+6*abc_6[0])*abc_6[2]+6*abc_6[0]*abc_6[1])*x-12*abc_6[0]*abc_6[1]*abc_6[2]))/12

def derivative_problem_6(x):
    return (abc_6[0]-x)*(abc_6[1]-x)*(abc_6[2]-x)

def second_derivative_problem_6(x):
    return -(abc_6[1]-x)*(abc_6[2]-x)-(abc_6[0]-x)*(abc_6[2]-x)-(abc_6[0]-x)*(abc_6[1]-x)

### #7

In [ ]:
abc_7 = np.array([4, 50, 600])

def problem_7(x):
    return -(x*(3*x**3+(-4*abc_7[2]-4*abc_7[1]-4*abc_7[0])*x**2+((6*abc_7[1]+6*abc_7[0])*abc_7[2]+6*abc_7[0]*abc_7[1])*x-12*abc_7[0]*abc_7[1]*abc_7[2]))/12

def derivative_problem_7(x):
    return (abc_7[0]-x)*(abc_7[1]-x)*(abc_7[2]-x)

def second_derivative_problem_7(x):
    return -(abc_7[1]-x)*(abc_7[2]-x)-(abc_7[0]-x)*(abc_7[2]-x)-(abc_7[0]-x)*(abc_7[1]-x)

### #8

In [ ]:
abc_8 = np.array([7, 80, 900])

def problem_8(x):
    return -(x*(3*x**3+(-4*abc_8[2]-4*abc_8[1]-4*abc_8[0])*x**2+((6*abc_8[1]+6*abc_8[0])*abc_8[2]+6*abc_8[0]*abc_8[1])*x-12*abc_8[0]*abc_8[1]*abc_8[2]))/12

def derivative_problem_8(x):
    return (abc_8[0]-x)*(abc_8[1]-x)*(abc_8[2]-x)

def second_derivative_problem_8(x):
    return -(abc_8[1]-x)*(abc_8[2]-x)-(abc_8[0]-x)*(abc_8[2]-x)-(abc_8[0]-x)*(abc_8[1]-x)

### #9

In [ ]:
abc_9 = np.array([1, 100, 200])

def problem_9(x):
    return -(x*(3*x**3+(-4*abc_9[2]-4*abc_9[1]-4*abc_9[0])*x**2+((6*abc_9[1]+6*abc_9[0])*abc_9[2]+6*abc_9[0]*abc_9[1])*x-12*abc_9[0]*abc_9[1]*abc_9[2]))/12

def derivative_problem_9(x):
    return (abc_9[0]-x)*(abc_9[1]-x)*(abc_9[2]-x)

def second_derivative_problem_9(x):
    return -(abc_9[1]-x)*(abc_9[2]-x)-(abc_9[0]-x)*(abc_9[2]-x)-(abc_9[0]-x)*(abc_9[1]-x)

### #10

In [ ]:
abc_10 = np.array([2, 120, 200])

def problem_10(x):
    return -(x*(3*x**3+(-4*abc_10[2]-4*abc_10[1]-4*abc_10[0])*x**2+((6*abc_10[1]+6*abc_10[0])*abc_10[2]+6*abc_10[0]*abc_10[1])*x-12*abc_10[0]*abc_10[1]*abc_10[2]))/12

def derivative_problem_10(x):
    return (abc_10[0]-x)*(abc_10[1]-x)*(abc_10[2]-x)

def second_derivative_problem_10(x):
    return -(abc_10[1]-x)*(abc_10[2]-x)-(abc_10[0]-x)*(abc_10[2]-x)-(abc_10[0]-x)*(abc_10[1]-x)

## Gradient-Descent

In [ ]:
def steepest_descent_multi(xk, minimizer, gradient, lr=1e-3, max_steps=1e6, epsilon=1e-5):
    start_time = time.time()
    for p in range(int(max_steps)):
        grad = gradient(xk)
        grad_norm = np.linalg.norm(grad)
        if grad_norm <= epsilon:
            break
        xk=xk-(lr * grad)
    print("performed " + str(p+1) + " iterations. Final norm of gradient: " + str(grad_norm))
    print("--- %s seconds ---" % (time.time() - start_time))
    return xk

def steepest_descent_uni(xk, minimizers, derivative, lr=1e-7, max_steps=1e5, epsilon=1e-5):
    start_time = time.time()
    for p in range(int(max_steps)):
        der = derivative(xk)        
        if abs(der) <= epsilon:
            break  
        xk=xk-(lr * der)
    print("performed " + str(p+1) + " iterations. Final derivative: " + str(der))
    print("--- %s seconds ---" % (time.time() - start_time))
    return xk

In [ ]:
# random starting vector for all algorithms and functions
init=np.array([[6],[1],[2],[6],[7],[8],[1],[5],[1],[3],[6]])

### #1

In [ ]:
x_hat=steepest_descent_multi(init, minimizer_1, grad_problem_1, lr=1.5e-3)
pd.DataFrame(data={'approximated minimizer': x_hat[:,0], 'real minimizer': minimizer_1[:,0]})

performed 167056 iterations. Final norm of gradient: 9.999772305747871e-06
--- 2.4243271350860596 seconds ---

    approximated minimizer  real minimizer
0                 5.000103               5
1                -0.000180               0
2                 2.999975               3
3                 3.000025               3
4                 7.000084               7
5                 8.999770               9
6                 3.000062               3
7                 5.000023               5
8                 1.999953               2
9                 4.000014               4
10                6.999962               7

### #2

In [ ]:
x_hat=steepest_descent_multi(init, minimizer_2, grad_problem_2, lr=1.5e-3)
pd.DataFrame(data={'approximated minimizer': x_hat[:,0], 'real minimizer': minimizer_2[:,0]})

performed 121366 iterations. Final norm of gradient: 9.99935872980607e-06
--- 1.5279018878936768 seconds ---

    approximated minimizer  real minimizer
0                 8.000030               8
1                 7.999945               8
2                 6.000073               6
3                 2.000107               2
4                 8.000000               8
5                 6.999916               7
6                 2.000003               2
7                 0.999921               1
8                 4.999935               5
9                 4.000001               4
10                4.000034               4

### #3

In [ ]:
x_hat=steepest_descent_multi(init, minimizer_3, grad_problem_3, lr=1.5e-3)
pd.DataFrame(data={'approximated minimizer': x_hat[:,0], 'real minimizer': minimizer_3[:,0]})

performed 219804 iterations. Final norm of gradient: 9.999903023051028e-06
--- 2.596342086791992 seconds ---

    approximated minimizer  real minimizer
0                 7.999910               8
1                 8.999833               9
2                 2.999990               3
3                 7.999903               8
4                 8.000018               8
5                 0.000096               0
6                 5.000103               5
7                 3.000071               3
8                 8.999975               9
9                 9.000111               9
10                4.999803               5

### #4

In [ ]:
x_hat=steepest_descent_multi(init, minimizer_4, grad_problem_4, lr=1.5e-3)
pd.DataFrame(data={'approximated minimizer': x_hat[:,0], 'real minimizer': minimizer_4[:,0]})

performed 114220 iterations. Final norm of gradient: 9.999232035561592e-06
--- 1.5091917514801025 seconds ---

    approximated minimizer  real minimizer
0                 7.000088               7
1                 4.999977               5
2                 1.000013               1
3                 8.000047               8
4                 6.999909               7
5                 8.000036               8
6                 2.000049               2
7                 8.999966               9
8                 6.999932               7
9                 6.999973               7
10                7.000053               7

### #5

In [ ]:
x_hat=steepest_descent_multi(init, minimizer_5, grad_problem_5, lr=1.5e-3)
pd.DataFrame(data={'approximated minimizer': x_hat[:,0], 'real minimizer': minimizer_5[:,0]})

performed 1000000 iterations. Final norm of gradient: 1.1410115552843316e-05
--- 12.2727210521698 seconds ---

    approximated minimizer  real minimizer
0                 9.001467               9
1                 2.998585               3
2                 3.998159               4
3                 0.001474               0
4                 9.001194               9
5                 0.998760               1
6                 9.000450               9
7                 1.000806               1
8                 3.998684               4
9                 0.999687               1
10                8.000843               8

### #6

In [ ]:
x_hat=steepest_descent_uni(100, np.array(abc_6), derivative_problem_6, lr=1e-5)
print("estimated minimizer: " + str(x_hat))
print("real minimizers: " + str(abc_6))

performed 420 iterations. Final derivative: 9.629205522687836e-06
--- 0.003362894058227539 seconds ---
estimated minimizer: 20.00000000181
real minimizers: [  1  20 300]

### #7

In [ ]:
x_hat=steepest_descent_uni(100, np.array(abc_7), derivative_problem_7, lr=1e-5)
print("estimated minimizer: " + str(x_hat))
print("real minimizers: " + str(abc_7))

performed 86 iterations. Final derivative: 8.642493298852665e-06
--- 0.0008101463317871094 seconds ---
estimated minimizer: 50.0000000003416
real minimizers: [  4  50 600]

### #8

In [ ]:
x_hat=steepest_descent_uni(100, np.array(abc_8), derivative_problem_8, lr=1e-5)
print("estimated minimizer: " + str(x_hat))
print("real minimizers: " + str(abc_8))

performed 29 iterations. Final derivative: 5.185634108789749e-06
--- 0.00043010711669921875 seconds ---
estimated minimizer: 80.00000000008663
real minimizers: [  7  80 900]

### #9

In [ ]:
x_hat=steepest_descent_uni(90, np.array(abc_9), derivative_problem_9, lr=1e-5)
print("estimated minimizer: " + str(x_hat))
print("real minimizers: " + str(abc_9))

performed 222 iterations. Final derivative: -9.837711445469644e-06
--- 0.0018188953399658203 seconds ---
estimated minimizer: 99.99999999900629
real minimizers: [  1 100 200]

### #10

In [ ]:
x_hat=steepest_descent_uni(100, np.array(abc_10), derivative_problem_10, lr=1e-5)
print("estimated minimizer: " + str(x_hat))
print("real minimizers: " + str(abc_10))

performed 239 iterations. Final derivative: -9.989917089157452e-06
--- 0.0018568038940429688 seconds ---
estimated minimizer: 119.99999999894175
real minimizers: [  2 120 200]

## Newton Method

In [ ]:
def newton_multi(xk, minimizer, gradient_fn, hessian_fn, max_steps=10, epsilon=1e-5):
    start_time = time.time()
    for p in range(int(max_steps)):
        grad = gradient_fn(xk)
        grad_norm = np.linalg.norm(grad)
        if grad_norm <= epsilon:
            break
        xk=xk - (np.linalg.inv(hessian_fn(xk))@grad)
    print("performed " + str(p+1) + " iterations. Final norm of gradient: " + str(grad_norm))
    print("--- %s seconds ---" % (time.time() - start_time))
    return xk

def newton_uni(xk, minimizers, derivative_fn, second_derivative_fn, max_steps=10, epsilon=1e-5):
    start_time = time.time()
    for p in range(int(max_steps)):
        der = derivative_fn(xk)        
        if abs(der) <= epsilon:
            break 
        xk=xk - der/second_derivative_fn(xk)
    print("performed " + str(p+1) + " iterations. Final derivative: " + str(der))
    print("--- %s seconds ---" % (time.time() - start_time))
    return xk

### #1

In [ ]:
x_hat=newton_multi(init, minimizer_1, grad_problem_1, hessian_problem_1)
pd.DataFrame(data={'approximated minimizer': x_hat[:,0], 'real minimizer': minimizer_1[:,0]})

performed 2 iterations. Final norm of gradient: 7.105427357601002e-14
--- 0.004489898681640625 seconds ---

    approximated minimizer  real minimizer
0             5.000000e+00               5
1             1.598721e-14               0
2             3.000000e+00               3
3             3.000000e+00               3
4             7.000000e+00               7
5             9.000000e+00               9
6             3.000000e+00               3
7             5.000000e+00               5
8             2.000000e+00               2
9             4.000000e+00               4
10            7.000000e+00               7

### #2

In [ ]:
x_hat=newton_multi(init, minimizer_2, grad_problem_2, hessian_problem_2)
pd.DataFrame(data={'approximated minimizer': x_hat[:,0], 'real minimizer': minimizer_2[:,0]})

performed 2 iterations. Final norm of gradient: 3.132840857496234e-13
--- 0.0006368160247802734 seconds ---

    approximated minimizer  real minimizer
0                      8.0               8
1                      8.0               8
2                      6.0               6
3                      2.0               2
4                      8.0               8
5                      7.0               7
6                      2.0               2
7                      1.0               1
8                      5.0               5
9                      4.0               4
10                     4.0               4

### #3

In [ ]:
x_hat=newton_multi(init, minimizer_3, grad_problem_3, hessian_problem_3)
pd.DataFrame(data={'approximated minimizer': x_hat[:,0], 'real minimizer': minimizer_3[:,0]})

performed 2 iterations. Final norm of gradient: 9.606855739578115e-13
--- 0.0003960132598876953 seconds ---

    approximated minimizer  real minimizer
0             8.000000e+00               8
1             9.000000e+00               9
2             3.000000e+00               3
3             8.000000e+00               8
4             8.000000e+00               8
5            -1.278977e-13               0
6             5.000000e+00               5
7             3.000000e+00               3
8             9.000000e+00               9
9             9.000000e+00               9
10            5.000000e+00               5

### #4

In [ ]:
x_hat=newton_multi(init, minimizer_4, grad_problem_4, hessian_problem_4)
pd.DataFrame(data={'approximated minimizer': x_hat[:,0], 'real minimizer': minimizer_4[:,0]})

performed 2 iterations. Final norm of gradient: 5.941429026383637e-13
--- 0.0003330707550048828 seconds ---

    approximated minimizer  real minimizer
0                      7.0               7
1                      5.0               5
2                      1.0               1
3                      8.0               8
4                      7.0               7
5                      8.0               8
6                      2.0               2
7                      9.0               9
8                      7.0               7
9                      7.0               7
10                     7.0               7

### #5

In [ ]:
x_hat=newton_multi(init, minimizer_5, grad_problem_5, hessian_problem_5)
pd.DataFrame(data={'approximated minimizer': x_hat[:,0], 'real minimizer': minimizer_5[:,0]})

performed 2 iterations. Final norm of gradient: 4.470076249012323e-12
--- 0.0008981227874755859 seconds ---

    approximated minimizer  real minimizer
0             9.000000e+00               9
1             3.000000e+00               3
2             4.000000e+00               4
3             2.273737e-13               0
4             9.000000e+00               9
5             1.000000e+00               1
6             9.000000e+00               9
7             1.000000e+00               1
8             4.000000e+00               4
9             1.000000e+00               1
10            8.000000e+00               8

### #6

In [ ]:
x_hat=newton_uni(100, abc_6, derivative_problem_6, second_derivative_problem_6)
print("estimated minimizer: " + str(x_hat))
print("real minimizers: " + str(abc_6))

performed 8 iterations. Final derivative: -0.0
--- 0.0004291534423828125 seconds ---
estimated minimizer: 20.0
real minimizers: [  1  20 300]

### #7

In [ ]:
x_hat=newton_uni(100, abc_7, derivative_problem_7, second_derivative_problem_7)
print("estimated minimizer: " + str(x_hat))
print("real minimizers: " + str(abc_7))

performed 7 iterations. Final derivative: -0.0
--- 0.0003669261932373047 seconds ---
estimated minimizer: 50.0
real minimizers: [  4  50 600]

### #8

In [ ]:
x_hat=newton_uni(100, abc_8, derivative_problem_8, second_derivative_problem_8)
print("estimated minimizer: " + str(x_hat))
print("real minimizers: " + str(abc_8))

performed 6 iterations. Final derivative: -0.0
--- 0.00024199485778808594 seconds ---
estimated minimizer: 80.0
real minimizers: [  7  80 900]

### #9

In [ ]:
x_hat=newton_uni(90, abc_9, derivative_problem_9, second_derivative_problem_9)
print("estimated minimizer: " + str(x_hat))
print("real minimizers: " + str(abc_9))

performed 4 iterations. Final derivative: -0.0
--- 0.00030612945556640625 seconds ---
estimated minimizer: 100.0
real minimizers: [  1 100 200]

### #10

In [ ]:
x_hat=newton_uni(100, abc_10, derivative_problem_10, second_derivative_problem_10)
print("estimated minimizer: " + str(x_hat))
print("real minimizers: " + str(abc_10))

performed 4 iterations. Final derivative: -2.803744791890528e-08
--- 0.0003418922424316406 seconds ---
estimated minimizer: 119.99999999999703
real minimizers: [  2 120 200]

## Conjugate gradient method (Fletcher-Reeves)

In [ ]:
def fn_wrapper(fn, x0, p):
    # returns the function which only depends on alpha.
    return lambda alpha: fn(x0 + alpha * p)

def grad_wrapper(grad_fn, x0, p):
    # returns the derivative of the function which only depends on alpha.
    return lambda alpha: p.T @ grad_fn(x0 + alpha * p)

# 3.5
def line_search_wolfe(fn, grad_fn, c1, c2, alpha_max):
    alphas = []
    alphas.append(0)
    # choose next alpha to be between 0 and alpha max
    alphas.append(alpha_max/2)   
    
    i = 1
    
    while True:
        fn_alpha_i = fn(alphas[i])

        if fn_alpha_i > (fn(0)+c1*alphas[i]*grad_fn(0) or (fn_alpha_i >= fn(alphas[i-1]) and i>1)):
            return zoom(alphas[i-1], alphas[i], c1, c2, fn, grad_fn)

        grad_fn_alpha_i = grad_fn(alphas[i])
        if abs(grad_fn_alpha_i) <= -c2*grad_fn(0):
            return alphas[i]
        
        if grad_fn_alpha_i >= 0:
            return zoom(alphas[i], alphas[i-1], c1, c2, fn, grad_fn)
                         
        # choose next alpha to be between alpha_i and alpha max
        if (alphas[i]*1.1 < alpha_max):
            alphas.append(alphas[i]*1.1)
        else:
            break
    
        i += 1
                       
# 3.6
def zoom(alpha_lo, alpha_hi, c1, c2, fn, grad_fn):
    while True:
        # quadratic interpolation to find a trial step length alpha_j between alpha_lo and alpha_hi
        alpha_j = (grad_fn(0)*alpha_lo**2)/(2*(fn(alpha_lo)-fn(0)-grad_fn(0)*alpha_lo))

        fn_alpha_j = fn(alpha_j)

        if fn_alpha_j > fn(0) + c1*alpha_j*grad_fn(0) or fn_alpha_j >= fn(alpha_lo):
            alpha_hi = alpha_j

        else:
            grad_fn_alpha_j = grad_fn(alpha_j)
            if abs(grad_fn_alpha_j) <= -c2*grad_fn(0):
                return alpha_j
            if grad_fn_alpha_j * (alpha_hi - alpha_lo) >= 0:
                alpha_hi = alpha_lo
            alpha_lo = alpha_j


# simpler wolfe condition search
def wolfe(x0, p_k, fn, gradient_fn, rho, sigma, gama):
    m = 0
    mk = 0
    gk = gradient_fn(x0)
    while m < 20:
        gk1 = gradient_fn(x0 + rho**m*p_k)
        if fn(x0+rho**m*p_k) < fn(x0)+sigma*rho**m*np.dot(gk.T,p_k) and np.dot(gk1.T, p_k) >=  gama*np.dot(gk.T,p_k):
            mk = m
            break
        m += 1
    return rho**mk

In [ ]:
def cgm(xk, fn, gradient_fn, max_steps=1e3, epsilon=1e-2):
    start_time = time.time()
    grad_f_k = gradient_fn(xk)
    p_k = - grad_f_k
        
    k=0
    while np.any(grad_f_k) and k <= max_steps:
        # do line-search
        alpha = wolfe(xk, p_k, fn, gradient_fn, 0.55, 0.55, 0.75)
                
        if alpha < epsilon: break
        
        xk = xk + alpha * p_k
                
        # fletcher-reeves
        grad_f_k_next = gradient_fn(xk)
        beta = (grad_f_k_next.T @ grad_f_k_next) / (grad_f_k.T @ grad_f_k)
        # new search direction
        p_k = (-grad_f_k_next) + beta * p_k
        grad_f_k = grad_f_k_next
        k+=1
    
    print("performed " + str(k+1) + " iterations.")
    print("--- %s seconds ---" % (time.time() - start_time))
    return xk

### #1

In [ ]:
x_hat = cgm(init, problem_1, grad_problem_1)
pd.DataFrame(data={'approximated minimizer': x_hat[:,0], 'real minimizer': minimizer_1[:,0]})

performed 147 iterations.
--- 0.04663872718811035 seconds ---

    approximated minimizer  real minimizer
0                 4.999862               5
1                 0.000091               0
2                 3.000005               3
3                 3.000047               3
4                 6.999953               7
5                 9.000138               9
6                 2.999957               3
7                 5.000058               5
8                 2.000021               2
9                 3.999952               4
10                7.000022               7

### #2

In [ ]:
x_hat = cgm(init, problem_2, grad_problem_2)
pd.DataFrame(data={'approximated minimizer': x_hat[:,0], 'real minimizer': minimizer_2[:,0]})

performed 104 iterations.
--- 0.030048847198486328 seconds ---

    approximated minimizer  real minimizer
0                 7.994133               8
1                 8.004458               8
2                 5.992062               6
3                 1.985879               2
4                 7.997655               8
5                 7.005484               7
6                 2.003107               2
7                 1.012303               1
8                 4.998730               5
9                 4.003663               4
10                4.002813               4

### #3

In [ ]:
x_hat = cgm(init, problem_3, grad_problem_3)
pd.DataFrame(data={'approximated minimizer': x_hat[:,0], 'real minimizer': minimizer_3[:,0]})

performed 229 iterations.
--- 0.05307292938232422 seconds ---

    approximated minimizer  real minimizer
0                 7.999972               8
1                 8.999959               9
2                 3.000052               3
3                 8.000004               8
4                 8.000035               8
5                 0.000062               0
6                 5.000030               5
7                 2.999964               3
8                 8.999974               9
9                 8.999995               9
10                4.999894               5

### #4

In [ ]:
x_hat = cgm(init, problem_4, grad_problem_4)
pd.DataFrame(data={'approximated minimizer': x_hat[:,0], 'real minimizer': minimizer_4[:,0]})

performed 79 iterations.
--- 0.018086910247802734 seconds ---

    approximated minimizer  real minimizer
0                 7.007495               7
1                 4.991042               5
2                 0.996860               1
3                 8.008054               8
4                 7.007733               7
5                 7.978882               8
6                 2.003230               2
7                 9.001003               9
8                 7.007780               7
9                 7.016591               7
10                6.990978               7

### #5

In [ ]:
x_hat = cgm(init, problem_5, grad_problem_5)
pd.DataFrame(data={'approximated minimizer': x_hat[:,0], 'real minimizer': minimizer_5[:,0]})

performed 129 iterations.
--- 0.033289432525634766 seconds ---

    approximated minimizer  real minimizer
0                 8.996670               9
1                 3.003203               3
2                 4.004248               4
3                -0.003374               0
4                 8.997227               9
5                 1.002898               1
6                 8.998978               9
7                 0.998102               1
8                 4.003030               4
9                 1.000733               1
10                7.998023               8

### #6

In [ ]:
x_hat = cgm(np.array([[100]]), problem_6,  derivative_problem_6, epsilon=1e-5, max_steps=10)
print("estimated minimizer: " + str(x_hat[0][0]))
print("real minimizers: " + str(abc_6))

performed 12 iterations.
--- 0.012143135070800781 seconds ---
estimated minimizer: 20.003928915593633
real minimizers: [  1  20 300]

### #7

In [ ]:
x_hat = cgm(np.array([[100]]), problem_7,  derivative_problem_7, epsilon=1e-5, max_steps=10)
print("estimated minimizer: " + str(x_hat[0][0]))
print("real minimizers: " + str(abc_7))

performed 12 iterations.
--- 0.012747049331665039 seconds ---
estimated minimizer: 50.00932083915147
real minimizers: [  4  50 600]

### #8

In [ ]:
x_hat = cgm(np.array([[85]]), problem_8,  derivative_problem_8, epsilon=1e-5, max_steps=3)
print("estimated minimizer: " + str(x_hat[0][0]))
print("real minimizers: " + str(abc_8))

performed 5 iterations.
--- 0.006438255310058594 seconds ---
estimated minimizer: 80.00422438139552
real minimizers: [  7  80 900]

### #9

In [ ]:
x_hat = cgm(np.array([[60]]), problem_9,  derivative_problem_9, epsilon=1e-5, max_steps=10)
print("estimated minimizer: " + str(x_hat[0][0]))
print("real minimizers: " + str(abc_9))

performed 12 iterations.
--- 0.011224985122680664 seconds ---
estimated minimizer: 99.99875247821718
real minimizers: [  1 100 200]

### #10

In [ ]:
x_hat = cgm(np.array([[100]]), problem_10,  derivative_problem_10, epsilon=1e-5, max_steps=5)
print("estimated minimizer: " + str(x_hat[0][0]))
print("real minimizers: " + str(abc_10))

performed 7 iterations.
--- 0.009846925735473633 seconds ---
estimated minimizer: 119.99902349397559
real minimizers: [  2 120 200]

## Quasi-Newton

In [ ]:
def bfgs(x0, fn, gradient_fn):
    start_time = time.time()
    epsilon = 1e-5
    k = 0
    n = np.shape(x0)[0]
    Bk = np.eye(n)
        
    while True:
        gk = gradient_fn(x0)
        
        if np.linalg.norm(gk) < epsilon:
            break
            
        p_k = -1.0*np.linalg.solve(Bk,gk)
        
        alpha = wolfe(x0, p_k, fn, gradient_fn, 0.55, 0.4, 0.7)
        
        x = x0 + alpha*p_k
        sk = x - x0
        yk = gradient_fn(x) - gk   
        
        if sk.T@yk > 0:    
            Bs = Bk@sk
            ys = yk.T@sk
            sBs = sk.T@Bk@sk
            Bk = Bk-((Bs*sk.T@Bk)/sBs) + (yk*yk.T/ys)
        k += 1
        x0 = x
    print("performed " + str(k+1) + " iterations.")
    print("--- %s seconds ---" % (time.time() - start_time))
    return x0

### #1

In [ ]:
x_hat = bfgs(init, problem_1,  grad_problem_1)
pd.DataFrame(data={'approximated minimizer': x_hat[:,0], 'real minimizer': minimizer_1[:,0]})

performed 22 iterations.
--- 0.008074045181274414 seconds ---

    approximated minimizer  real minimizer
0                 5.000005               5
1                -0.000009               0
2                 2.999998               3
3                 3.000001               3
4                 7.000004               7
5                 8.999988               9
6                 3.000003               3
7                 5.000001               5
8                 1.999998               2
9                 4.000001               4
10                6.999999               7

### #2

In [ ]:
x_hat = bfgs(init, problem_2,  grad_problem_2)
pd.DataFrame(data={'approximated minimizer': x_hat[:,0], 'real minimizer': minimizer_2[:,0]})

performed 22 iterations.
--- 0.006110191345214844 seconds ---

    approximated minimizer  real minimizer
0                 8.000007               8
1                 7.999988               8
2                 6.000017               6
3                 2.000027               2
4                 8.000004               8
5                 6.999980               7
6                 2.000000               2
7                 0.999981               1
8                 4.999991               5
9                 4.000001               4
10                4.000002               4

### #3

In [ ]:
x_hat = bfgs(init, problem_3,  grad_problem_3)
pd.DataFrame(data={'approximated minimizer': x_hat[:,0], 'real minimizer': minimizer_3[:,0]})

performed 23 iterations.
--- 0.005609989166259766 seconds ---

    approximated minimizer  real minimizer
0             7.999999e+00               8
1             8.999997e+00               9
2             2.999998e+00               3
3             7.999998e+00               8
4             8.000000e+00               8
5             3.790001e-07               0
6             5.000001e+00               5
7             3.000003e+00               3
8             9.000000e+00               9
9             9.000002e+00               9
10            4.999996e+00               5

### #4

In [ ]:
x_hat = bfgs(init, problem_4,  grad_problem_4)
pd.DataFrame(data={'approximated minimizer': x_hat[:,0], 'real minimizer': minimizer_4[:,0]})

performed 19 iterations.
--- 0.0048449039459228516 seconds ---

    approximated minimizer  real minimizer
0                 6.999992               7
1                 5.000001               5
2                 0.999999               1
3                 7.999991               8
4                 6.999993               7
5                 8.000013               8
6                 1.999994               2
7                 8.999993               9
8                 7.000011               7
9                 6.999999               7
10                7.000002               7

### #5

In [ ]:
x_hat = bfgs(init, problem_5,  grad_problem_5)
pd.DataFrame(data={'approximated minimizer': x_hat[:,0], 'real minimizer': minimizer_5[:,0]})

performed 26 iterations.
--- 0.0044710636138916016 seconds ---

    approximated minimizer  real minimizer
0                 8.999990               9
1                 3.000010               3
2                 4.000015               4
3                -0.000012               0
4                 8.999990               9
5                 1.000011               1
6                 8.999996               9
7                 0.999994               1
8                 4.000012               4
9                 1.000001               1
10                7.999994               8

### #6

In [ ]:
init=np.array([[6]])
x_hat = bfgs(init, problem_6,  derivative_problem_6)
print("estimated minimizer: " + str(x_hat[0][0]))
print("real minimizers: " + str(abc_6))

performed 7 iterations.
--- 0.0049059391021728516 seconds ---
estimated minimizer: 20.00000000000061
real minimizers: [  1  20 300]

### #7

In [ ]:
init=np.array([[60]])
x_hat = bfgs(init, problem_7,  derivative_problem_7)
print("estimated minimizer: " + str(x_hat[0][0]))
print("real minimizers: " + str(abc_7))

performed 7 iterations.
--- 0.004167795181274414 seconds ---
estimated minimizer: 50.00000000000216
real minimizers: [  4  50 600]

### #8

In [ ]:
init=np.array([[60]])
x_hat = bfgs(init, problem_8,  derivative_problem_8)
print("estimated minimizer: " + str(x_hat[0][0]))
print("real minimizers: " + str(abc_8))

performed 7 iterations.
--- 0.0030488967895507812 seconds ---
estimated minimizer: 80.0
real minimizers: [  7  80 900]

### #9

In [ ]:
init=np.array([[60]])
x_hat = bfgs(init, problem_9,  derivative_problem_9)
print("estimated minimizer: " + str(x_hat[0][0]))
print("real minimizers: " + str(abc_9))

performed 7 iterations.
--- 0.003384828567504883 seconds ---
estimated minimizer: 100.0
real minimizers: [  1 100 200]

### #10

In [ ]:
init=np.array([[20]])
x_hat = bfgs(init, problem_10,  derivative_problem_10)
print("estimated minimizer: " + str(x_hat[0][0]))
print("real minimizers: " + str(abc_10))

performed 8 iterations.
--- 0.0048787593841552734 seconds ---
estimated minimizer: 120.0
real minimizers: [  2 120 200]

In [ ]:
print("test")

test